<p id="notice"><%= notice %></p>
<nav>
  <%= link_to 'Edit', edit_persona_path(@persona) %> |
  <%= link_to 'Back', personas_path %>
</nav>
<br>
<article>
  
  
  <p>
    <strong>Nombre:</strong>
    <%= @persona.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= @persona.apellido %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= @edad.to_s + " años" %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= @persona.fecha_nacimiento %>
  </p>

  <p>
    <strong>Nrodni:</strong>
    <%= @persona.nroDNI %>
  </p>



</article>